h3 {
  margin-left: 15px;
}
.fileInput {
  border: 4px solid #d3d3d3;
  border-radius: 15px;
  padding: 10px;
  margin: 15px;
  width: 85px;
  cursor: pointer;
}
.imgPreview {
  text-align: center;
  margin: 15px;
  height: 400px;
  width: 400px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  overflow: hidden;
}
.imgPreview img {
  width: 100%;
  height: 100%;
}
.previewText {
  width: 100%;
  margin-top: 190px;
}
.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: #fff;
  border: 4px solid #d3d3d3;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}
.submitButton:hover {
  background: #efefef;
}
.centerText {
  text-align: center;
  width: 500px;
}
